@import "tailwindcss";

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 100;
    src: url('/Fonts/IRANYekanXNoEn-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 300;
    src: url('/Fonts/IRANYekanXNoEn-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 400;
    src: url('/Fonts/IRANYekanXNoEn-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 500;
    src: url('/Fonts/IRANYekanXNoEn-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 600;
    src: url('/Fonts/IRANYekanXNoEn-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 700;
    src: url('/Fonts/IRANYekanXNoEn-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 800;
    src: url('/Fonts/IRANYekanXNoEn-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 900;
    src: url('/Fonts/IRANYekanXNoEn-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANYekanX';
    font-display: swap;
    font-weight: 950;
    src: url('/Fonts/IRANYekanXNoEn-ExtraBlack.ttf') format('truetype');
}

@layer base {
    * {
        font-family: 'IRANYekanX', sans-serif;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .react-grid-item.react-grid-placeholder {
        @apply !bg-sky-300 !opacity-30 shadow rounded-[30px];
    }

    .track-2 path {
        stroke-width: 2px;
    }

    .track-3 path {
        stroke-width: 3px;
    }

    .custom-hover {
        background-image: linear-gradient(1210deg, #000000, #000000, #5c5c5c, #000000, #000000);
        background-size: 350px 100%;
        background-position: 225%;
        background-repeat: no-repeat;
        transition: all 400ms, background-position 400ms ease-out, opacity 0ms ;
    }

    .custom-hover:hover {
        box-shadow: var(--shadow-buttons);
        background-position: -100%;
        scale: 1.03;
    }

    .custom-hover:active {
        opacity: 80%;
        scale: 0.95;
    }

    .react-grid-item.react-draggable {
        @apply z-50
    }
}

@utility dir-* {
    direction: --value('rtl', 'ltr');
}

@theme {
    --color-dastto: #3E7BFF;
    --shadow-buttons: 0px 22px 20px -10px rgba(0, 0, 0, 0.10);
    --shadow-action: 0 0 0 1px rgba(0,0,0,.04),0 27px 54px rgba(0,0,0,.04),0 17.5px 31.625px rgba(0,0,0,.03),0 10.4px 17.2px rgba(0,0,0,.024),0 5.4px 8.775px rgba(0,0,0,.02),0 2.2px 4.4px rgba(0,0,0,.016),0 .5px 2.125px rgba(0,0,0,.01);
    --shadow-modal: 0 0 0 1px rgba(0,0,0,.06),0 40px 54px rgba(0,0,0,.04),0 25.9259px 31.625px rgba(0,0,0,.03),0 15.4074px 17.2px rgba(0,0,0,.024),0 8px 8.775px rgba(0,0,0,.02),0 3.25926px 4.4px rgba(0,0,0,.016),0 .740741px 2.125px rgba(0,0,0,.01);
}